<footer class="wrapper">

  <div class="inner">

    <div class="logo-tagline">
      <%= link_to(image_tag('logo.svg'), '/')%>
      <p>RavalAds is a Barcelona based brand-safe programmatic platform that provides cross-device solutions for publishers and advertisers.</p>
    </div>

    <div class="links-col-1">
      <ul>
        <li class="category">Solutions</li>
        <li><%= link_to 'For Publishers', '/publishers.html'%></li>
        <li><%= link_to 'For Advertisers', '/advertisers.html' %></li>
        <li><%= link_to 'Frequently Asked questions', '/faq.html'%><li>
      </ul>
    </div>

    <div class="links-col-2">
      <ul>
        <li class="category">Legal</li>
        <li><%= link_to 'Contact Us', '/contact.html'%></li>
        <li><%= link_to 'Terms and Conditions', '/terms.html' %></li>
        <li><%= link_to 'Privacy Policy', '/privacy.html'%></li>
      </ul>
    </div>

    <div class="links-col-3">
      <ul>
        <li class="category">Direction</li>
      </ul>

      <p>12 calle de tu madre</p>
      <p>54685 Barcelona, Spain</p>
      <p><i class="fas fa-phone"></i>&nbsp&nbsp +33 6 16 70 02 64</p>
      <!-- <p><i class="fas fa-envelope"></i>&nbsp&nbsp <a href="mailto:contact@ravalads.com">contact@ravalads.com</a></p> -->
      <p><i class="fas fa-envelope"></i>&nbsp&nbsp contact@ravalads.com</p>
      <p><i class="fab fa-skype"></i>&nbsp&nbsp ravalads</p>


    </div>

  </div>

  <div class="sub-footer">
    <p>© RavalAds 2018. All Rights Reserved.</p>
  </div>

</footer>
