<header class="wrapper purple-bg">
  <nav class="inner">

    <div class="header-left">
      <%= link_to(image_tag('logo.svg'), '/')%>
    </div>



    <div class="header-right">
      <%= link_to 'for advertisers', '/advertisers.html' %>
      <%= link_to 'for publishers', '/publishers.html'%>
      <%= link_to 'About Us', '/about.html' %>
      <%= link_to 'Contact', '/contact.html', class: 'btn-light' %>
    </div>
  </nav>

</header>
