<header>
  <nav>
    <div class="header-left">
      <%= link_to 'for publishers', '/publishers'%>
      <%= link_to 'for advertisers', '/advertisers' %>
    </div>

    <div class="header-center">
      <%= image_tag ('logo.svg') %>
    </div>

    <div class="header-right">
      <%= link_to 'About Us', '/about' %>
      <%= link_to 'Contact', '/contact', class: 'button-light' %>
    </div>
  </nav>


</header>
