---
title: Welcome on RavalAds
---

<section id="hero" class="wrapper">
  <div class="inner">
    <h1>The global programmatic platform</h1>
    <h3>helping
      <span class="text-emphasize">Advertisers</span>
      and
      <span class="text-emphasize">Publishers</span>
      to maximize revenues</h3>
    <div class="hero-cta">
      <%= link_to 'for publishers', '/publishers', class: 'btn btn-left' %>
      <%= link_to 'for advertisers', '/advertiers', class: 'btn btn-right' %>
    </div>
  </div>
</section>

<section id="numbers">
  <div class="numbers-container">
    <div>
      <p>Daily impressions</p>
      <div class="dark-container">
        <p>+150M</p>
      </div>
    </div>
    <div>
      <p>Advertisers</p>
      <div class="dark-container">
        <p>+500</p>
      </div>
    </div>
    <div>
      <p>Request time</p>
      <div class="dark-container">
        <p>28MS</p>
      </div>
    </div>
    <div>
      <p>Countries</p>
      <div class="dark-container">
        <p>216</p>
      </div>
    </div>
  </div>
  <h3>We stop at nothing to ensure
    <span class="text-emphasize">your success</span>
    !</h3>

</section>

<section id="benefits" class="wrapper">
  <div class="inner">
    <h2>Why choose RavalAds !</h2>
    <div class="benefits-btn-list">
      <div id="benefit-1" class="benefits-btn-selected">
        <div>
          <%= image_tag ('icons/1-selected.svg') %>
        </div>
        <div>
          <p>Multi Format</p>
        </div>
      </div>

      <div id="benefit-2" class="benefits-btn">
        <div>
          <%= image_tag ('icons/2.svg') %>
        </div>
        <div>
          <p>Cross Device</p>
        </div>
      </div>

      <div id="benefit-3" class="benefits-btn">
        <div>
          <%= image_tag ('icons/3.svg') %>
        </div>
        <div>
          <p>Open RTB Integrations</p>
        </div>
      </div>

      <div id="benefit-4" class="benefits-btn">
        <div>
          <%= image_tag ('icons/4.svg') %>
        </div>
        <div>
          <p>Worldwide Coverage</p>
        </div>
      </div>

    </div>

    <%= link_to "Multi Format", '/', class: 'benefit-1' %>
    <%= link_to "Cross Device", '/', class: 'benefit-2' %>
    <%= link_to "Open RTP Integrations", '/', class: 'benefit-3' %>
    <%= link_to "Worldwide Coverage", '/', class: 'benefit-4' %>

  </div>
  <div class="benefits-hero inner">
    <div class="benefit-text">
      <h2>Multi Format</h2>
      <p>Run top-performing ads on mobile and desktop screens to deliver amazing and UX-friendly ad experiences without any technical expertise.</p>
      <p>Run top-performing ads on mobile and desktop screens to deliver amazing and UX-friendly ad experiences without any technical expertise.</p>
      <p>Native, video, push notification, banner & pop.</p>
    </div>
    <div class="benefit-illustration">
      <%= image_tag ('illustrations/benefit_1.svg')%>
    </div>
  </div>
</section>

<section id="brands">
  <p>We already work with renowned brands</p>
  <div class="brand-logos">
    <%= image_tag ('brands/popcash.svg')%>
    <%= image_tag ('brands/peakadx.png')%>
    <%= image_tag ('brands/popcash.svg')%>
    <%= image_tag ('brands/peakadx.png')%>
  </div>

</section>

<section id="features" class="wrapper">

  <div class="inner">
    <h2>Key Features</h2>
    <h3>A dynamic platform made for you</h3>
  </div>
  <div class="features-list inner">
    <!-- Feature #1 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/1-smart-targeting.svg')%>
      </div>
      <h4>Smart Targeting</h4>
      <p>Target the right audience based on different criteria such as geography, demographic, interest, devices ...</p>
    </div>

    <!-- Feature #2 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/2-bidding-tech.svg')%>
      </div>
      <h4>Ultimate Bidding Technology</h4>
      <p>We connect to exclusive private marketplaces, with an impression live buy, based on advanced bidding system</p>
    </div>

    <!-- Feature #3 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/3-exclu-traffic.svg')%>
      </div>
      <h4>Exclusive Traffic</h4>
      <p>All the traffic we manage is selected and filtered with internal softwares, in order to provide the best results to your campaign</p>
    </div>

    <!-- Feature #4 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/4-reporting.svg')%>
      </div>
      <h4>Direct Reporting</h4>
      <p>Check in real time your performances and earnings via our statistics and analytics report</p>
    </div>

    <!-- Feature #5 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/5-platform.svg')%>
      </div>
      <h4>All-In-One Platform</h4>
      <p>Our multifunctional platform allows both publishers and advertisers to connect universally</p>
    </div>

    <!-- Feature #6 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/6-account.svg')%>
      </div>
      <h4>Dedicated Account</h4>
      <p>Our industry specialists are here to give you the best possible support and personnalized guidance</p>
    </div>
  </div>

</div>

</section>

<section id="cta" class="wrapper">
  <div class="inner">
    <h2>Work with us !</h2>
    <p>Your questions are important to us. Please feel free to contact us for any request you might have regarding our service.</p>
    <%= link_to 'Contact us', '/contact', class: 'btn' %>
  </div>
</section>
