---
title: Welcome on RavalAds
---

<section id="hero">
  <h1>The global programmatic platform</h1>
  <h3>helping <span class="text-emphasize">Advertisers</span> and <span class="text-emphasize">Publishers</span> to maximize revenues</h3>
  <%= link_to 'for publishers', '/publishers', class: 'button' %>
  <%= link_to 'for advertisers', '/advertiers', class: 'button' %>
</section>

<section id="numbers">
  <%= image_tag ('business_people.png') %>
  <blockquote>
    We stop at nothing to ensure your success !
  </blockquote>
</section>

<section id="benefits">
  <h2>Why choose RavalAds !</h2>

  <%= link_to "Multi Format", '/', class: 'benefit-1' %>
  <%= link_to "Cross Device", '/', class: 'benefit-2' %>
  <%= link_to "Open RTP Integrations", '/', class: 'benefit-3' %>
  <%= link_to "Worldwide Coverage", '/', class: 'benefit-4' %>

  <div class="benefit-hero">
    <div class="benefit-text">
      <h2>Multi Format</h2>
      <p>Run top-performing  ads on mobile and desktop screens to deliver
        amazing and UX-friendly ad experiences without any technical
        expertise.</p>
      <p>Native, video, push notification, banner & pop.</p>
    </div>
    <div class="benefit-illustration">
      <%= image_tag ('illustrations/illustration_1.png')%>
    </div>
  </div>
</section>

<section id="brands">
  <p>We also work with :</p>

  <%= image_tag ('brands/brand_1.png')%>
  <%= image_tag ('brands/brand_2.png')%>
  <%= image_tag ('brands/brand_3.png')%>
  <%= image_tag ('brands/brand_4.png')%>
</section>

<section id="features">
  <h2>Key Features</h2>
  <h3>The best features to help you make a lot of money</h3>

  <!-- Feature #1 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_1.png')%>
    </div>
    <h4>Smart Targeting</h4>
    <p>Target the right audience based on different criteria such as
      geography, demographic, interest, devices ...</p>
  </div>

  <!-- Feature #2 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_2.png')%>
    </div>
    <h4>Ultimate Bidding technology</h4>
    <p>We connect to exclusive private marketplaces, with an impression live
      buy, based on advanced bidding system</p>
  </div>

  <!-- Feature #3 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_3.png')%>
    </div>
    <h4>Exclusive Traffic</h4>
    <p>All the traffic we manage is selected and filtered with internal
      softwares, in order to provide the best results to your campaign</p>
  </div>

    <!-- Feature #4 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_4.png')%>
    </div>
    <h4>Direct Reporting</h4>
    <p>Check in real time your performances and earnings via our statistics
      and analytics report</p>
  </div>

  <!-- Feature #5 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_5.png')%>
    </div>
    <h4>All-In-One Platform</h4>
    <p>Out multifunctional platform allows both publishers and advertisers
      to connect universally</p>
  </div>

  <!-- Feature #6 -->
  <div class="feature">
    <div class="icons">
      <%= image_tag ('icons/icon_6.png')%>
    </div>
    <h4>Dedicated Account</h4>
    <p>Our industry specialists are here to give you the best possible support
      and personnalized guidance</p>
  </div>
</section>

<section id="cta">
  <h2>Work with us !</h2>
  <p>Your questions are important to us. Please feel free to contact us for
    any request you might have regarding our service.</p>

</section>
