<section id="hero" class="wrapper purple-bg">
  <div class="inner">
    <h1>The global programmatic platform</h1>
    <h3>helping
      <span class="text-emphasize">Advertisers</span>
      and
      <span class="text-emphasize">Publishers</span>
      to maximize revenues</h3>
    <div class="hero-cta">
      <%= link_to 'advertisers', '/advertisers.html', class: 'btn btn-left' %>
      <%= link_to 'publishers', '/publishers.html', class: 'btn btn-right' %>
    </div>
  </div>
</section>

<section id="numbers" class="purple-bg">
  <div class="numbers-container">
    <div>
      <p>Daily impressions</p>
      <div class="dark-container">
        <p>+300 M</p>
      </div>
    </div>
    <div>
      <p>Advertisers</p>
      <div class="dark-container">
        <p>+500</p>
      </div>
    </div>
    <div>
      <p>Request time</p>
      <div class="dark-container">
        <p>200 MS</p>
      </div>
    </div>
    <div>
      <p>Countries</p>
      <div class="dark-container">
        <p>60</p>
      </div>
    </div>
  </div>
  <h3>We stop at nothing to ensure
    <span class="text-emphasize">your success</span>
    !</h3>

</section>

<section id="benefits" class="wrapper">
  <div class="inner">

    <h2>Why choose RavalAds !</h2>
    <div class="benefits">

      <div class="benefit">
        <div>
          <%= image_tag ('benefits/1.svg')%>
        </div>
        <div class="benefit-copy">
          <h4>Multi Format</h4>
          <p>Run top-performing ads on mobile and desktop screens to deliver amazing and UX-friendly ad experiences without any technical expertise.<br>Native, video, push notification, banner & pop.</p>
        </div>
      </div>

      <div class="benefit">
        <div>
          <%= image_tag ('benefits/2.svg')%>
        </div>
        <div class="benefit-copy">
          <h4>Cross Device</h4>
          <p>We ensure you to follow each user on any device. Our look alike feature allows you to target your audience on mobile web, in-app, desktop, tablet, at any time of the day.</p>
        </div>
      </div>

      <div class="benefit">
        <div class="">
          <%= image_tag ('benefits/3.svg')%>
        </div>
        <div class="benefit-copy">
          <h4>Open RTB Integrations</h4>
          <p>Take advantage of the
            <a href="https://www.iab.com/wp-content/uploads/2016/03/OpenRTB-API-Specification-Version-2-5-FINAL.pdf" target="_blank">latest version of Open RTB standards</a>. Open RTB version will grant you security and transparence with all the parameters that are sent in the bid requests. You can then simply target your audience with all the parameters available.</p>
        </div>
      </div>

      <div class="benefit">
        <div>
          <%= image_tag ('benefits/4.svg')%>
        </div>
        <div class="benefit-copy">
          <h4>Worldwide Coverage</h4>
          <p>Get access to our worldwide traffic and target your specific geos on a very efficient system. We are very strong in Tier1 countries and you can easily get access to billion of impressions in United States, Canada, United Kingdom, France, Germany,
            Spain, Italy.</p>
        </div>
      </div>
    </div>
  </section>

<section id="brands" class="blue-bg">
  <div class="inner">
    <h4>We already work with renowned brands</h4>

    <div class="brand-logos">
      <%= image_tag ('brands/popcash.svg')%>
      <%= image_tag ('brands/peakadx.png')%>
      <%= image_tag ('brands/adacts.png')%>
      <%= image_tag ('brands/adhunter.png')%>
    </div>
  </div>


</section>

<section id="features" class="wrapper grey-bg">

  <div class="inner">
    <h2>Key Features</h2>

  <div class="features-list">
    <!-- Feature #1 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/1-smart-targeting.svg')%>
      </div>
      <h4>Smart Targeting</h4>
      <p>Target the right audience based on different criteria such as geography, demographic, interest, devices ...</p>
    </div>

    <!-- Feature #2 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/2-bidding-tech.svg')%>
      </div>
      <h4>Ultimate Bidding Technology</h4>
      <p>We connect to exclusive private marketplaces, with an impression live buy, based on advanced bidding system</p>
    </div>

    <!-- Feature #3 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/3-exclu-traffic.svg')%>
      </div>
      <h4>Exclusive Traffic</h4>
      <p>All the traffic we manage is selected and filtered with internal softwares, in order to provide the best results to your campaign</p>
    </div>

    <!-- Feature #4 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/4-reporting.svg')%>
      </div>
      <h4>Direct Reporting</h4>
      <p>Check in real time your performances and earnings via our statistics and analytics report</p>
    </div>

    <!-- Feature #5 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/5-platform.svg')%>
      </div>
      <h4>All-In-One Platform</h4>
      <p>Our multifunctional platform allows both publishers and advertisers to connect universally</p>
    </div>

    <!-- Feature #6 -->
    <div class="feature">
      <div class="icons">
        <%= image_tag ('icons/6-account.svg')%>
      </div>
      <h4>Dedicated Account</h4>
      <p>Our industry specialists are here to give you the best possible support and personnalized guidance</p>
    </div>
  </div>

</div>
</section>

<section id="cta" class="wrapper purple-bg">
  <div class="inner">
    <h2>Work with us !</h2>
    <h3>Feel free to contact us <span class="text-emphasize">for any request</span> you may have</h3>
    <%= link_to 'Contact us', '/contact.html', class: 'btn' %>
  </div>
</section>
